<mat-card>
<div class="container">
  <form [formGroup]="rutaForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Código</mat-label>
      <input matInput formControlName="codigo" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="tipo" required>
        <mat-option value="caminar">Caminar</mat-option>
        <mat-option value="trotar">Trotar</mat-option>
        <mat-option value="correr">Correr</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha de Creación</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fechaCreacion" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Extensión</mat-label>
      <input matInput formControlName="extension">
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary">Registrar</button>
  </form>
</div>
</mat-card>
